@using Microsoft.Extensions.Configuration;

@using SampleBlazorWebApp.Models
@using WebRTC.Blazor.Client

@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime

@inject IWebRTCService VideoChatService

<ErrorViewer ErrorText="@_errorText" ShowError="@_showError" />

<div style="width:100%; margin-top:20px">
    <div class="container">
        <div id="video-grid">
            <video class="overlay" @ref="localVideo" autoplay muted>
            </video>
            <video class="background" @ref="remoteVideo" autoplay>
            </video>
        </div>
    </div>    
    <br />
    <div class="row">
        <div class="col-12" style="margin-left: 5px;">
            <Documents OnChange="FileTransfer" />
        </div>
    </div>
    <br />
    @if (_inviteAccepted) {
        <div class="row">
            <div class="col-12" style="margin-left: 5px;">
                <span style="background-color: green; color: white;">Invite accepted.</span>
            </div>
        </div>
    }       

    @if (this.MyUserType == UserType.Local)
    {
        <div class="row" style="margin-top:10px; margin-left: 5px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@_inviteSent" @onclick="InviteAsync">Invite</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_inviteAccepted || _callStarted)" @onclick="StartCallAsync">Start Call</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted)" @onclick="SwitchMeAsync">@(_isScreenShare ? "To Video" : "To Screen")</button>
            </div>            
        </div>
        <div class="row" style="margin-top:10px;margin-left: 5px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted)" @onclick="ToggleAudioAsync">@(!_isMute ? "Mute" : "Unmute")</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted || _isScreenShare)" @onclick="ToggleVideoAsync">@(!_isVideoStopped ? "Stop Video" : "Start Video")</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted)" @onclick="EndCallAsync">End Call</button>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-top:10px; margin-left: 5px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted)" @onclick="ToggleAudioAsync">@(!_isMute ? "Mute" : "Unmute")</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" disabled="@(!_callStarted)" @onclick="ToggleVideoAsync">@(!_isVideoStopped ? "Stop Video" : "Start Video")</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button style="width: 90%;" @onclick="EndCallAsync">End Call</button>
            </div>
        </div>
    }
</div>

@code {
    public enum UserType
    {
        Local,
        Remote
    }

    [Parameter]
    public string RemoteUniqueUserId { get; set; } = string.Empty;

    [Parameter]
    public string LocalUniqueUserId { get; set; } = string.Empty;

    [Parameter]
    public UserType MyUserType { get; set; } = UserType.Local;

    private ElementReference localVideo;
    private ElementReference remoteVideo;

    private bool _showError = false;
    private string _errorText = string.Empty;

    private string _roomId = string.Empty;
    private bool _inviteSent = false;
    private bool _inviteAccepted = false;
    private bool _callStarted = false;
    private bool _isMute = false;
    private bool _isVideoStopped = false;

    private bool _isScreenShare = false;

    private async Task FileTransfer(FilesResult files)
    {
        Console.WriteLine($"file count: {files.Files.Count}");
        foreach(var file in files.Files)
        {
            await VideoChatService.TransferFileAsync(file.Data, file.Name, file.Type);
        }        
    }

    private async Task InviteAsync()
    {
        try
        {
            _showError = false;

            _inviteSent = false;

            await VideoChatService.InviteAllAsync();

            _inviteSent = true;
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
            _inviteSent = false;
        }
    }

    private async Task StartCallAsync()
    {
        try
        {
            _showError = false;

            _callStarted = false;

            _isScreenShare = false;

            await VideoChatService.StartCallAsync();

            _callStarted = true;
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
            _callStarted = false;
        }
    }

    private async Task SwitchMeAsync()
    {
        try
        {
            _showError = false;

            _callStarted = false;

            if (_isScreenShare)
            {
                await VideoChatService.SwitchScreenShareToVideoAsync();
                _isScreenShare = false;                
            }
            else {
                await VideoChatService.SwitchVideoToScreenShareAsync();
                _isScreenShare = true;
            }

            _callStarted = true;
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
            _callStarted = false;
        }
    }

    private async Task ToggleAudioAsync()
    {
        try
        {
            _showError = false;

            await VideoChatService.ToggleAudioAsync();
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
        }
    }

    private async Task ToggleVideoAsync()
    {
        try
        {
            _showError = false;

            await VideoChatService.ToggleVideoAsync();
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
        }
    }

    private async Task EndCallAsync()
    {
        try
        {
            await VideoChatService.EndCallAsync();
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _showError = false;

            if (this.MyUserType == UserType.Remote)
            {
                VideoChatService.OnInvite += InviteAsync;
            }            

            if (this.MyUserType == UserType.Local)
            {
                VideoChatService.OnInviteAccepted += InviteAcceptedAsync;
            }

            VideoChatService.OnToggleAudio += ToggleAudioAsync;
            VideoChatService.OnToggleVideo += ToggleVideoAsync;
            VideoChatService.OnFileTransfer += FileTransferAsync;

            await Task.CompletedTask;
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                //await VideoChatService.SetSettingsAsync(this.RemoteUniqueUserId, this.LocalUniqueUserId);
                await VideoChatService.SetVideosAsync(localVideo, remoteVideo);
                await VideoChatService.SetDotNetRefAsync();
                await VideoChatService.SetHubUrlAsync(Configuration["HubUrl"]!);
                await VideoChatService.StartHubConnectionAsync();                              
            }
        }
        catch (Exception ex)
        {
            _errorText = ex.Message;
            _showError = true;
        }
    }

    private async Task ToggleAudioAsync(bool isMute)
    {
        _isMute = isMute;

        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task ToggleVideoAsync(bool isVideoStopped)
    {
        _isVideoStopped = isVideoStopped;

        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task InviteAsync(string roomId)
    {
        _roomId = roomId;

        await VideoChatService.RemoteStartCallAsync();
        _callStarted = true;
        StateHasChanged();

        await VideoChatService.AcceptInviteAsync(roomId);

        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task InviteAcceptedAsync()
    {
        _inviteAccepted = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task FileTransferAsync(FileTransferResult result)
    {
        if (result.Data == null)
        {
            throw new ApplicationException("Data not received.");
        }

        await JSRuntime.InvokeVoidAsync("downloadFileFromByteArray", 
                                        result.Name,
                                        result.Type,
                                        Convert.FromBase64String(result.Data));
        Console.WriteLine($"Files size transferred: {result.Size}");
        await Task.CompletedTask;
    }
}